<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title%> </title>
    <%-include('../partials/head') %>
</head>
<body>
    <h1>Succes</h1>
    <img src="https://inscripcion.online/UserFiles/admin/modulo_blog/images/69.jpg" alt="LISTO">
    <%- include('../partials/navigation') %>
</body>
<%-include('../partials/footer')%>
</html>