<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Creación de Contratos</title>
    <%-include('../partials/head')%>
</head>
<body>
    <div class="container my-5">
        <h2 class="text-center mb-4 p-3 display-4" style="background-color: #faf9f8; color: #0056b3; border-radius: 0.5rem;">Creación de Contrato</h2>
        <div class="mb-4 row">
            <div class="col-md-4">
                <label for="document-number" class="form-label mb-2 fw-bold" style="color: #0056b3;">Nº de Documento:</label>
                <input type="text" class="form-control" id="document-number" name="document_number" >
            </div>
            <div class="col-md-2 d-grid">
                <label for="btn-search" class="form-label mb-2 fw-bold" style="color: #0056b3;"> </label>
                <button type="button" name="btn-search" class="btn btn-primary btn-lg" id="btn-search">Buscar</button>
            </div>
            <div class="col-md-6">
                <label for="user-name" class="form-label mb-2 fw-bold" style="color: #0056b3;">Nombre de Usuario:</label>
                <input type="text" class="form-control" id="user-name" name="user_name" readonly>
            </div>
        </div>

        <form id="contract-form" action="/addcontract" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="start-date" class="form-label mb-2 fw-bold" style="color: #0056b3;">Fecha de Inicio:</label>
                    <input type="date" class="form-control" id="start-date" name="contract_start_date" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="end-date" class="form-label mb-2 fw-bold" style="color: #0056b3;">Fecha de Finalización:</label>
                    <input type="date" class="form-control" id="end-date" name="contract_end_date" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="payment-day" class="form-label mb-2 fw-bold" style="color: #0056b3;">Día de Pago:</label>
                    <input type="number" class="form-control" id="payment-day" name="payment_day" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="rent-amount" class="form-label mb-2 fw-bold" style="color: #0056b3;">Monto del Alquiler:</label>
                    <input type="text" class="form-control" id="rent-amount" name="rent_amount" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="warranty" class="form-label mb-2 fw-bold" style="color: #0056b3;">Garantía:</label>
                    <input type="number" class="form-control" id="warranty" name="warranty" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="has-wifi" class="form-label mb-2 fw-bold" style="color: #0056b3;">¿Tiene Wifi?</label>
                    <select class="form-select" id="has-wifi" name="has_wifi" disabled>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="wifi-cost" class="form-label mb-2 fw-bold" style="color: #0056b3;">Costo de Wifi:</label>
                <input type="text" class="form-control" id="wifi-cost" name="wifi_cost" disabled>
            </div>

            <div class="mb-3">
                <label for="contract-photo" class="form-label mb-2 fw-bold" style="color: #0056b3;">Foto del Contrato:</label>
                <input type="file" class="form-control" id="contract-photo" name="contract_photo" accept="image/*" disabled>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg" disabled>Crear Contrato</button>
            </div>
        </form>
    </div>
    <%-include('../partials/footer')%>
    <script src="/js/crtcontract.js"></script>
</body>
</html>
