<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de Usuarios</title>
    <%-include('../partials/head')%>    
</head>
<body>
    <div class="container my-5">
        <h2 class="text-center mb-4 p-3 display-4" style="background-color: #faf9f8; color: #0056b3; border-radius: 0.5rem;">Borrar Usuarios</h2>
        
        <div class="row">
            <div class="col-md-8">
                <label for="searchUser" class="form-label mb-2 fw-bold" style="color: #0056b3;">Buscar Usuario:</label>
                <input type="text" class="form-control" id="searchUser" name="searchUser">
            </div>
            <div class="col-md-4 d-grid">
                <button type="button" class="btn btn-primary btn-lg mt-4" id = 'btnSerch'>Buscar</button>
            </div>
        </div>

        <div class="mt-5">
            <h3 class="mb-3 fw-bold" style="color: #0056b3;">Resultados de Búsqueda</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="document" class="form-label">Numero de Documento:</label>
                        <input type="text" class="form-control" id="document" readonly>
                    </div>
                    <div class="container">
                        <div class="row">
                            <label for="values" class="form-label">Números de Contrato:</label>
                            <div class="d-flex flex-row">
                                <div class="col-md-8 mb-3">
                                    <textarea class="form-control" id="values" rows="5" readonly></textarea>
                                </div>
                                <div class="col-md-3 d-flex flex-column">
                                    <button type="reset" class="btn mt-1 btn-secondary w-auto p-3 ">Reset</button>
                                    <button type="button" class="btn mt-1 btn-danger w-auto p-3" id="delete-data">Borrar Datos</button>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <%-include('../partials/footer')%>
    <script src="/js/delusr.js"></script>
</body>
</html>