<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil de Usuario</title>
        <!-- Enlace al CSS de Bootstrap -->
        <%-include('../partials/head')%>
    </head>
    <body class="prflUser">

        <header>
            <%-include('../partials/navbar')%>
            <div class="mb-3 card mt-5 deep-sea-effect" style="height: 18vh;">
                <div class="row h-100 align-items-center container"> <!-- Añade la clase 'h-100 align-items-center' para centrar verticalmente -->
                  <div class="col-auto">
                    <img src="./img/david.jpg" alt="Nombre Usuario" class="rounded-circle card" style="width: 150px; height: 150px; object-fit: cover;"> <!-- Clase 'rounded-circle' para el óvalo y estilos para dimensiones -->
                  </div>
                  <div class="col-auto">
                    <input type="text" readonly class="form-control-plaintext display-3" id="userName" value="David J. Manzano Arias">
                  </div>
                </div>
            </div>
        </header>

        <main class="container mt-5" style= "height: 59vh;">             
            
            <div class="row g-3 h-75">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Datos Personales</h5>
                            <!-- Aquí van los detalles del usuario -->
                            <p>Tipo y número de documento: <span id="document-info"></span></p>
                            <p>Correo electrónico: <span id="user-email"></span></p>
                            <p>Teléfono: <span id="user-phone"></span></p>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Contratos</h5>
                            <select class="form-select" size="3" aria-label="Size 3 select example">
                                <option value="1">BD-001</option>
                                <option value="2">BD-002</option>
                                <option value="3">BD-003</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Estado de la Cuenta</h5>
                            <!-- Aquí va el estado de la cuenta y los contratos -->
                            <p>Número de Contrato: <span id="contract-number"></span></p>
                            <p>Estado del Contrato: <span id="contract-status"></span></p>
                            <p>Fecha de pago: <span id="payment-date"></span></p>
                            <p>Fecha de Vencimiento: <span id="due-date"></span></p>
                            <p>Wifi: <span id="wifi-status"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-secondary">Descargar Contrato</button>
            </div>
        </main>

        <%-include('../partials/footer')%>
        
    </body>
    <!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
