<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
    <%-include('../partials/head')%>
</head>

<body>
    <div class="container my-5">
        <h2 class="text-center mb-4 p-3 display-4" style="background-color: #faf9f8; color: #0056b3; border-radius: 0.5rem;">Modificar Usuario</h2>
        <div id="fdoc_container" style="display: flex; flex-direction: column; align-items: center;">
            <div class="col-md-4">
                <label for="serchDocumentNumber" class="form-label mb-2 fw-bold" style="color: #0056b3;">Buscar Nº de Documento:</label>
                <input type="text" class="form-control" id="serchDocumentNumber" name="serchDocumentNumber" >
            </div>
            <div class="col-md-2 d-grid">
                <label for="btn-search" class="form-label mb-2 fw-bold" style="color: #0056b3;"> </label>
                <button type="button" name="btn-search" class="btn btn-primary btn-lg" id="btn-search">Buscar</button>
            </div>
        </div>
        <form id="user-form" action="/mod_usr" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <input type="hidden" id="docNum" name="docNum">
                <div class="col-md-6">
                    <label for="name" class="form-label mb-2 fw-bold" style="color: #0056b3;">Nombres:</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <div id="name-error" class="text-danger"></div>
                </div>
                <div class="col-md-6">
                    <label for="last_name" class="form-label mb-2 fw-bold" style="color: #0056b3;">Apellidos:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                    <div id="last-name-error" class="text-danger"></div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="id-type" class="form-label mb-2 fw-bold" style="color: #0056b3;">Tipo de Identificación:</label>
                    <select class="form-select" id="id-type" name="id-type">
                        <% documentTypes.forEach(function(type) { %>
                            <option value="<%= type.document_id %>"><%= type.document_type %></option>
                        <% }); %>
                    </select>
                    <div id="id-type-error" class="text-danger"></div>
                </div>
                <div class="col-md-6">
                    <label for="id-number" class="form-label mb-2 fw-bold" style="color: #0056b3;">Número de Identificación:</label>
                    <input type="text" class="form-control" id="id-number" name="id-number">
                    <div id="id-number-error" class="text-danger"></div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="email" class="form-label mb-2 fw-bold" style="color: #0056b3;">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div id="email-error" class="text-danger"></div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="password" class="form-label mb-2 fw-bold" style="color: #0056b3;">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <div id="password-error" class="text-danger"></div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="photo" class="form-label mb-2 fw-bold" style="color: #0056b3;">Foto Personal:</label>
                    <input type="file" class="form-control" id="photo" name="photo" accept="image/*">
                    <div id="photo-error" class="text-danger"></div>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Agregar Usuario</button>
            </div>
        </form>
    </div>
    <script src="/js/modifyusr.js"></script>
</body>

<%-include('../partials/footer')%>

</html>
