<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de Visualisacion de Contratos</title>
        <%-include('../partials/head')%>
    </head>
    <body>
        <div class="container my-5">
            <h2 class="text-center mb-4 p-3 display-4" style="background-color: #faf9f8; color: #0056b3; border-radius: 0.5rem;">Visualisacion de Contrato</h2>
            
            <div class="mb-4 row">
                <div class="col-md-4">
                    <label for="serchContract" class="form-label mb-2 fw-bold" style="color: #0056b3;">Buscar Nº de Contrato:</label>
                    <input type="text" class="form-control" id="serchContract" name="serchContract" >
                </div>
                <div class="col-md-2 d-grid">
                    <label for="btnSearch" class="form-label mb-2 fw-bold" style="color: #0056b3;"> </label>
                    <button type="button" name="btnSearch" class="btn btn-primary btn-lg" id="btnSearch">Buscar</button>
                </div>
                <div class="col-md-2 d-grid">
                    <label for="btn-reset" class="form-label mb-2 fw-bold" style="color: #0056b3;"> </label>
                    <button type="button" name="btn-reset" class="btn btn-primary btn-lg" id="btn-reset" disabled>Reiniciar</button>
                </div>
            </div>

            <form id="contract-form" action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="user-name" class="form-label mb-2 fw-bold" style="color: #0056b3;">Nombre de Usuario:</label>
                        <input type="text" class="form-control" id="name" name="name" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="start-date" class="form-label mb-2 fw-bold" style="color: #0056b3;">Fecha de Inicio:</label>
                        <input type="text" class="form-control" id="start_date" name="start_date" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="end-date" class="form-label mb-2 fw-bold" style="color: #0056b3;">Fecha de Finalización:</label>
                        <input type="text" class="form-control" id="end_date" name="end_date" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="payment-day" class="form-label mb-2 fw-bold" style="color: #0056b3;">Día de Pago:</label>
                        <input type="text" class="form-control" id="payment_day" name="payment_day" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rent-amount" class="form-label mb-2 fw-bold" style="color: #0056b3;">Monto del Alquiler:</label>
                        <input type="text" class="form-control" id="rent_amount" name="rent_amount" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="warranty" class="form-label mb-2 fw-bold" style="color: #0056b3;">Deposito de Garantia:</label>
                        <input type="text" class="form-control" id="warranty" name="warranty" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="has-wifi" class="form-label mb-2 fw-bold" style="color: #0056b3;">¿Tiene Wifi?</label>
                        <input type="text" class="form-control" id="has_wifi" name="has_wifi" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="wifi-cost" class="form-label mb-2 fw-bold" style="color: #0056b3;">Costo de Wifi:</label>
                        <input type="text" class="form-control" id="wifi_cost" name="wifi_cost" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="room-number" class="form-label mb-2 fw-bold" style="color: #0056b3;">N# Habitación:</label>
                        <input type="text" class="form-control" id="room_number" name="room_number" disabled>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <input type="password" id="imgDwl" name="imgDwl" style="display: none;" readonly>
                        <button type="button" class="btn btn-primary w-auto p-3 me-2" id="vwContract" disabled>Descargar Contrato</button>
                        <button type="button" class="btn btn-danger w-auto p-3 " id="deleteData" disabled>Borrar Datos</button>
                    </div>
                </div>
            </form>
            <%-include('../partials/footer')%>
        </div>
        <script src="/js/vwctrt.js"></script>
    </body>
</html>