body {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    height: 200px;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake {
    animation: shake 1s;
}

.btn-square {
    display: flex;       /* Utiliza Flexbox para la alineación */
    justify-content: center; /* Centra horizontalmente el contenido en Flexbox */
    align-items: center;     /* Centra verticalmente el contenido en Flexbox */
    width: 200px;  /* Ancho fijo para el cuadrado */
    height: 150px; /* Altura fija para el cuadrado */
    padding: 0; /* Elimina el padding para evitar desplazamientos */
    font-size: 16px; /* Ajustar según necesidad */
}