<div class="deep-sea-effect" style="height: 18vh;">
    <div class="mx-auto row h-100 w-75 align-items-center container"> <!-- Añade la clase 'h-100 align-items-center' para centrar verticalmente -->
      <div class="col-auto">
        <img src="" alt="Nombre Usuario" class="rounded-circle card" style="width: 150px; height: 150px; object-fit: cover;"> <!-- Clase 'rounded-circle' para el óvalo y estilos para dimensiones -->
      </div>
      <div class="col-auto">
        <input type="text" readonly class="form-control-plaintext display-3 text-light" id="userName" value="David J. Manzano Arias">
      </div>
    </div>
</div>